---
title: The Three Things
---
<audio  autoplay>
  <source src="/audio/guitar.mp3" type="audio/mpeg">
</audio>

<div class="table">
  <div class="table-cell">
    <%= image_tag('/images/the-nothing.png', class: 'animated fadeInLeft delay-2') %>
  </div>
  <div class="table-cell">
    <%= image_tag('/images/the-everything.png', class: 'animated fadeInUp delay-4') %>
  </div>
  <div class="table-cell">
    <%= image_tag('/images/the-something.png', class: 'animated fadeInRight delay-6') %>
  </div>
</div>
